@model IEnumerable<TodoCSharp.ViewModels.TodoViewModel>
@{
    ViewData["Title"] = "Create";
}
<h2>@User.Identity.Name</h2>

<div id="main">
    <div id="elements">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th><a class="labelTask" asp-controller="Home" asp-action="ReturnTodo" asp-route-sortOrder="@ViewBag.NameSort">Name</a></th>
                    <th><a asp-controller="Home" asp-action="ReturnTodo" asp-route-sortOrder="@ViewBag.AccomlishedSort">Done</a></th>
                    <th colspan="2">Navigation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var todo in Model)
                {
                    <tr id="@todo.Id">
                        <td><label>@todo.Name</label></td>
                        <td><input class="form-control" type="checkbox" @(todo.Accomlished == true ? "checked=\"checked\"" : String.Empty) /></td>
                        <td><button type="submit" class="btn btn-outline-primary btn-block">Replace</button></td>
                        <td><button type="submit" class="btn btn-outline-danger btn-block">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <form asp-controller="Home" asp-action="Create" asp-antiforgery="true" method="post">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th><input id="mainInput" class="form-control" type="text" /></th>
                    <th><button id="create" type="submit" class="btn btn-outline-primary btn-block">Create</button></th>
                </tr>
            </thead>
        </table>
    </form>
</div>

<link rel="stylesheet" asp-href-include="~/css/style.css" />
<script asp-src-include="~/js/xmlHttpRequest.js"></script>
<script asp-src-include="~/js/todo.js"></script>
<script asp-src-include="~/js/sortTodos.js"></script>
<script asp-src-include="~/js/addEvent.js"></script>